@model Category

<form action="AddCategory" method="post">
    <div class="mb-3">
        <label for="CatName" class="form-label">Category Name</label>
        <input type="text" name="Name" class="form-control" id="CatName" required>
    </div>
    <div class="mb-3">
        <label for="CatDescription" class="form-label">Category Description</label>
        <input type="text" name="Description" class="form-control" id="CatDescription" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>