@model Category

<form action="/Category/SaveEdit">
    <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
    <div class="mb-3">
        <label for="CatName" class="form-label">Category Name</label>
        <input type="text" name="Name" class="form-control" id="CatName" value="@Model.Name">
    </div>
    <div class="mb-3">
        <label for="CatDescription" class="form-label">Category Description</label>
        <input type="text" name="Description" class="form-control" id="CatDescription" value="@Model.Description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>